.page__title {
    background-color: var(--gray-light-100);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: .8rem;
    border-radius: .8rem;
    margin-bottom: 2rem;
}
.page__title .decoration {
    position: absolute;
    left: -70px;
    width: 100px;
    height: 80%;
    border-radius: 10rem;
    background-color: var(--orange-400);
}
.page__title__content {
    padding-left: 30px;
}
.page__title__content h1 {
    margin-bottom: 4px;
    font-weight: var(--medium);
    font-size: 32px;
}
.page__title__content p {
    margin: 0;
    font-weight: var(--light);
    color: var(--black-200);
    font-size: 16px;
}
